<TabView selectedIndex="0" androidTabsPosition="bottom" class="fas">
    <StackLayout *tabItem="{title: 'First Tab &#xf3ed;', iconSource: 'res://icon'}">
        <StackLayout>
            <sn-home-default></sn-home-default>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Second Tab &#xf015;', iconSource: 'res://icon'}">
        <StackLayout>
            <label
                text="&#xf015;"
                textWrap="true"
                class="m-15 h2 text-center fas">
            </label>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Third Tab', iconSource: 'res://icon'}">
        <StackLayout>
            <label
                text="Third Tab"
                textWrap="true"
                class="m-15 h2 text-center"
                color="blue"></label>
        </StackLayout>
    </StackLayout>
</TabView>
